<a href="https://colab.research.google.com/github/Abdulmanan16/Isys20/blob/main/Completed_a_taste_of_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# A Taste of Python

Computers do two things really well. ***Store values*** and ***perform operations*** on those values

You might think they’re doing a whole lot more, as you send texts, shop online, or rely on your phone to navigate in your car; however, everything computers do can be broken down into simple operations that are performed on simple values.

Now, part of computational thinking is learning to use these operations and values to build something that is much more sophisticated, complex, and meaningful—and we’re going to get to that.

First, though, we’re going to take a look at what these values are, the operations you can perform on them, and just what role variables play in all this.

# Store Values

### What is a value?

Because programs are written to process data, you must have a good understanding of the nature and structure of the data being processed.

Data within a program may be a single value, such as a number.  In the cell below try some different numbers, say 123, or 31.7.

In [ ]:
123
31.7

31.7

Data within a program may be a single value, such as a character.  Are the quotes important? Is 'A' different from 'a'?

In [ ]:
'A'
'a'
'A' == 'a'

False

Data within a program may be a single value, such as true or false.  In programming we call the a booloean value, sometimes abbreviated as bool.

In [ ]:
'booloean'
'bool'
'booloean' == 'bool'

False

Data within a program may be a group items such as a list.  The list could contian the same or different type of values.

In [ ]:
print("Toy")
print("Goods")
print("Toy", "Goods", "20")

Toy
Goods
Toy Goods 20

Data within a program may be a group items such as a string.

In [ ]:
my_string = "Good day"
print("first word:", my_string[3])

first word: d

Is there a way to determine the type of an item is? In Python we have a the *type()* function. In the cell below, find out the type of  3, 3.0, '3', '3.0'  and [3, 3.0,'3', '3.0'].
> We are going to use functions a lot, before long you will understand exactly how they work and even know how to create your own, but for now just think of them as a way to *ask* Python to do some work.  In the cell is known as **calling** the *type* function.  Functions have a name followed by left parenthesis, a data item and end with a right parenthesis.

In [ ]:
print(type(3))
print(type(3.0))
print(type('3'))
print(type('3.0'))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

What are the different types?  Here is a simple table, we will expand on this later.

| Data Type | Python Expressions | Description                   | Example |
|-----------|--------------------|-------------------------------|---------|
|integer    | int                | A whole numeber               | 143267  |
|decimal    | float              | A floating point number       | 3.13159 |
|string     | str                | Set of characters in quotes   | "Hello" |
|boolean    | bool               | anything evaluates true/false | True    |
|List       | list               | An ordered list of values     | [1,4,5] |



### How do we store values?

To be useful we need a way to store values in computer's memory.  To this we need to be able to identify a location in memory.  We could use a memory address but that could get confusing, instead we given the location a name, and identifier.  In programming we call this a variable.  A ***variable*** is the name given to a part of the computers memory, designed to store aprticular data item.  It is called a variable because the value stored may change or vary as the program executes. The values we typed in above are know as literals. A **literal** is a constant whose *name* is the written representaiton of the value.  A ***constant*** is a data item with a name amd a value that will remian the same during the executation of a program.  We will use constants later.

To store a value, we create a variable and then assign the value.  To assign  a value we use the equals (**=**) sign.

In [ ]:
age = 25
print("age", age)
DOB= 2001
print("DOB", DOB)
Price = 150
print("Price", Price)

age 25
DOB 2001
Price 150

What is the type of a variable?  We can use the type() function to find out.
> Notice how we can use a *variable* just like we use a *value* in the above cells

In [ ]:
print(type(age))
print(type(DOB))
print(type(Price))

<class 'int'>
<class 'int'>
<class 'int'>

We can assigned group items to variables

In [ ]:
foods = ("Chicken Curry", "Burger", "Biryani")
print("foods", foods)

foods ('Chicken Curry', 'Burger', 'Biryani')

We can change a varialbe

In [ ]:

foods = ["Chicken Curry", "Burger", "Biryani"]
foods[1] = "Pizza"
print("Updated foods list:", foods)

Updated foods list: ['Chicken Curry', 'Pizza', 'Biryani']

#### Naming rules

Variable names must be unique and they are case sensitive.
* Only letters, numbers, and the underscore character (_) can be used  ```this.is.not.allowed```
* No spaces ```this is not allowed```
* No quotes ```“NotAllowed”```
* Can’t start with a number ```6notAllowed```
* Can't be a keyword  ```import```

#### Naming conventions
We will learn other naming conventions, but for now
* variable names should be meaningfuly (can someone else understand)
* seperate words with underscores ```monthly_sales```  (this is called snake_case)



# Perform Operations

There are six basic computer operations.

1. Receive Informaiton.
1. Output information.
1. Assign a value to a variable. There are three cases where you may assign a value to variable.
    * give data an initial value.
    * assign a value as a results of some processing
    * to keep a piece of information for later use.
1. Perform arithmetic.
1. Compare two variables and select appropriate action.
1. Repeat a group of actions.

> When designing an algorithm you need to keep in mind that the set of instruction written will eventually be performed by a computer.  That is your words and phrases in the pseudocode which are in line with computer operations, the translation form pseudocode to specific programming language becomes quite simple.

## Receive Information

Python has a *input* function that will allow you to enter information form the keyboard.

In [ ]:
Day = input("What day is it?")
print("Today is Monday", (Day))

What day is it?
Today is Monday

How does *input* work?
1. The interpreter see the call to the *input* function, it take the prompt text and displays it for the user
2. The interpreter then waits for the user to type in a repsonse, which the user completes by pressing the return key (also called the enter key)
3. Finally the text the user types in is passed back to your code.

Now, the text isint going to be useful if we cant remember it for later.  To do this we store the *return value* to a variable

In [1]:
surname = input("What is your surname? ")
print("My surname is", surname)

What is your surname? Sharifi
My surname is Sharifi

## Output Information

Python has a *print* function that can output a message to the screen

In [2]:
print("Hey, It's me John Walker.")

Hey, It's me John Walker.

The interpreter sees the call to the *print* function, it takes the message text and displys it to the user.

Can we print variables?

In [7]:
firstname = "John"
Surname = "Snow"
age = 28
place = "North"
print("first_name-", firstname, "Surname-", Surname, "Age-", age, "Place-", place)

first_name- John Surname- Snow Age- 28 Place- North

As you can see the *print* function will take a **literial** or a **variable**.  We will see later that the *print* function can do more, but this is a good start.

## Assign a value to a variable

We have seen each of three cases, but I will repeat here for clarity.

I have added some *comments* to the code.  Comments are just notes after the **#** marks.  We use comments to explain the purpose of the code.  Comments can be thought of as helpful pseudocode.

In [18]:
# example of giving a variable an initial value
Book = 20

# example of assigning a value as a result of some processing
Book = 20
Note_Book = 15
total = Book + Note_Book
print("Total=", total)

# example of using a piece of information later
name = "stark"
print("Welcome Back," + name + "!")

Total= 35
Welcome Back,stark!

## Perform Arithmetic


| Operation | Description           | Example       |  Result  |
|:---------:|-----------------------|---------------|----------|
| ```+```   | Addition              | ```3 + 2.2``` | ```5.2```|
| ```-```   | Subtraction           | ```5 - 2```   | ```3```  |
| ```*```   | Multiplication        | ```3 * 8```   | ```24``` |
| ```**```  | Raise to the power of | ```3 ** 2```  | ```9```  |
| ```/```   | Division              | ```5/2```     | ```2.5```|
| ```//```  | Integer Division      | ```5/2```     | ```2```  |
| ```%```   | Modulo                | ```5%2```     | ```1```  |

Use the cell below to try out some of the examples

In [21]:
addition = 15 + 12
print("Addition =", addition)

Addition = 27

```3 + 2.2``` is called an expression.  When you evaluate an expression you can store the result into a variable

In [22]:
sum = 3 + 2.2
print("Sum =", sum)

Sum = 5.2

You can print expresisons

In [23]:
print("76/2 =", 76/2)

76/2 = 38.0

Can perform arithmetic with variables

In [24]:
length = 10
width = 5
area = length * width
print("Area =", area)

Area = 50

Lets sum two number input form the user

In [35]:
number1 = input("first number-")
number2 = input("second number-")
total = number1 + number2
print("Total =", total)

first number-1
second number-2
Total = 12

What happened?  It didn't add the input, it joined(concatenated) the input.  Lets run the next two cell to investigate.

In [36]:
number1 = int(input("first number-"))
number2 = int(input("second number-"))
total = number1 + number2
print("Total =", total)

first number-12
second number-13
Total = 25

In [37]:
number1 = int(input("first number-"))
number2 = int(input("second number-"))
total = number1 + number2
print("Total =", total)

first number-1
second number-2
Total = 3

So the data type of the variables were string.  So the *input* function must return a *str* data type.

There is a way we can convert, we can use the *int* function.  So "12" is a string os the characters '1' followed by the character '2'.  To convert the string we use the int("12"), and this will return the number 12.

In [38]:
number1 = int("12")
number2 = int("-11")
total = number1 + number2
print("Totlal =", total)

Totlal = 1

## Compare Two Variables

Here is a simple program prints out the maximun of two numbers.  This also demonstrates some features of the Python language.

> New lines are used to separate logical statements (similar to a period at the end of a sentence).
>
> Whitespaces (spaces and tabs) are used to indicate which statements should be grouped together (called blocks)
>
> Colons (:) are used to indicate the continuation of an idea at a deeper level.

Try changing the numbers, and rerun the cell.  What happens if you swap *>* for *<*?   What is *<*? We use a *relational operator* to ask a True/False question about the realtionship between two variables.  The followinf table show the relational operators used in Python.


| Operation | Description            | Example           |  Result     |
|:---------:|------------------------|-------------------|-------------|
| ```<```   | Less than              | ```3 < 2```       | ```False``` |
| ```>```   | Greater than           | ```3 > 2```       | ```True```  |
| ```<=```  | Less than or equal     | ```3 <= 2```      | ```False``` |
| ```>=```  | greater than or equal  | ```3 >= 2```      | ```True```  |
| ```==```  | equal to               | ```3 == 2```      | ```False``` |
| ```!=```  | not equal to           | ```3 != 2```      | ```True```  |
| ```not``` | not                    | ```not(3 == 2)``` | ```True```  |

In [43]:
print("32 <= 45")
print(2 > 1)

32 <= 45
True

Notice the keyword are highlighted in a different colour.  This example uses a boolean expresison: ```first_number > second_number```.  A boolean expression is an *epxression* the evaluates to *True* or *False*.  The expresiosn uses a *relational operator*.  

 Can you write a version that prompts the user for the numbers?  What happens if you enter in the same number?

In [52]:
number1 = float(input("first_number-"))
number2 = float(input("second_number-"))
print(number1 > number2)

first_number-12
second_number-11
True

In [55]:
number1 = float(input("first_number-"))
number2 = float(input("second_number-"))
print(number1 >= number2)

first_number-12
second_number-13
False

#### Repeat a group of actions

Lets say I want to print out a countdown.  I could do a print statement for each.

In [56]:
print(10)
print(9)
print(8)
print(7)
print(6)
print(5)
print(4)
print(3)
print(2)
print(1)
print("Blast Off!")

10
9
8
7
6
5
4
3
2
1
Blast Off!

Notice that each line is very similar, a print statement, and just printing out a different number.

It turns out, repeating something is very common in programming and all languages provide way to do this easier.  In Python we can use the *for* loop. We will use a list of numbers.  Recall in Python a *list* is ordered.   There are other way to do this, but this notebook is to just give us a understanding.  We will explore loops in more detail in later notebooks.

In [60]:
print("Countdown")
for counter in [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]:
  print(counter)
print("Blast Off!")

Countdown
10
9
8
7
6
5
4
3
2
1
Blast Off!